@model DemoCoreMVCConcepts.Models.Address

<h2>Contact Us!!</h2>

<div>
    <p>Jhon Doe,</p>
    <partial name="~/Views/Shared/_Address.cshtml" model="Model" />

    <p>Please contact during 8:00 AM - 7:00 PM IST for any queries</p>
</div>